.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: #ffffff;
  height: 100vh;
}

.links {
  position: absolute;
  top: 30px;
  right: 30px;
  text-align: right;
}

.links a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px;
  font-weight: 600;
}

.links a:hover {
  color: #b2caed;
}

h1 {
  font-size: 3.5em;
  margin: 5vh;
  line-height: 1.2;
  color: #ffffff;
}

h2 {
  font-size: 1.8em;
  margin-top: 10px;
  font-weight: 300;
  color: #ffffff;
}
