/* App.css */
body {
  background: linear-gradient(180deg, rgba(1, 50, 67, 0.5), rgba(0, 0, 0, 0.8)), url('./images/underwater_image.jpg') no-repeat center center fixed;
  background-size: cover;
  animation: underwater 60s ease-in-out infinite;
  color: #ffffff;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes underwater {
  0%, 100% { background-position: 0 0; }
  50% { background-position: 0 100%; }
}